<div class="contenedor">
    <h1><%= nombrePag %></h1>
    <% if (meetis.length > 0) { %>
        <div class="grid columnas-md-3 ">
            <% meetis.forEach(meet => { %>
                <%- include('partials/card-meeti.ejs', {meet: meet}); %>
            <% }) %> 
        </div>
    <% } else { %>
        <p>No hay resultados</p>
    <% } %>
</div>